<h1><%= @task.name %></h1>
<p>How To: <%= @task.howto %></p>
<p>Status: <%= @task.done %></p>

<p><a href="/tasks/<%= @task.id %>/edit">Edit Task</a></p>
<p><a href="/tasks">Return to tasks listing</a></p>

